.headline {
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    font-family: "Playfair Display", serif;
    color: darkred;
    padding: 15px 0px 15px 0px;
    border-bottom: 2px solid black;

}
.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: red;
}
.opening-letter::first-letter {
    font-family: "Playfair Display", serif;
    font-size: 4em;
    float:left;
    line-height: 0.8;
    margin-top:0.1em;
    margin-left:-0.05em;
    margin-right:0.5em;
    font-weight: 400;
    background: red;
    color:white;
    padding:5px 10px 5px 10px;
    margin-right:10px;
}
.first-words {
    text-transform: uppercase;
}
.img {
    margin: 0 auto;
    width: 100%;
    max-width: 90;
}
p {
    font-family: Georgia, serif;
    line-height: 180%;
}
.caption {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    text-align: left; 
}
/*chart elements*/
.chart-title {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: darkred;
  }
  
  .chart-description{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
  }
  
  .chart-author{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    font-weight: 100px;
    padding-bottom: 20px;
    text-transform:uppercase;
  }
  
  .chart-source{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 100px;
    font-style: italic;
  }
  
  .chart-subtitle, h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
  
  }
  .bmore-graphic {
    width:50%;
    max-width:900px;
    padding-top: 5;
    padding-bottom: 5;

  }
  .text-box{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    border: solid #F23030 1px;
  }
  
  .text-box-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    text-align: center;
    color:	white;
    background: #F23030;;
  }
  
  .text-box-text{
    padding-left: 3em;
    padding-right: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: left;
    color:#303030;
  }
  
  .text-box-intro-text{
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: left;
  }
  
  .text-box-source-text{
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    text-align: left;
    color:#303030;
  }
  
  .text-box-text li{
    line-height: 2;
  }
  

.footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-color: black;
    color:aliceblue;
}

/*tophat */
.nav-logo {
    color: white;
    margin: 0 auto;
    font-weight: 800;
    text-transform:uppercase;
}
.red {
    color:red;
}
.darkred {
    color:darkred; 
}
/*Splash area*/
.hero-container {
    position:relative;
    text-align:center;
    color:white;
}
.hero-image {
    width:100%; 
}
.overlay {
    position:absolute;
    top:20%;
    width:100%;
    background:black;
    opacity:0.7;
}
.hero-head {
    font-family: "Playfair Display", serif;
    font-size:6em;
    color:darkred; 
    margin:0 auto;
    padding-bottom:10px;
}
.hero-sub {
    font-family: "Montserrat", sans-serif;
    font-size:.25em;
    color: red;
    font-weight:bold;
}
/*quote*/
.quote {
    font-family:"Montserrat", sans-serif;
    color:red;
    font-size:3em;
    font-weight:700;
    text-align:center;
    padding: 20px 0 20px 0;
    border-top: 5px solid darkred; 
    border-bottom: 5px solid darkred; 
    margin-top:20px;
    margin-bottom:20px;
}
.quote-attribution {
    font-size: .5em;
    font-family:"Montserrat", sans-serif;
    font-weight:bold;
    text-align:center;
    color:black;
}
/*Media Queries*/
@media(max-width:700px) {
    p {
        padding-left:20px;
        padding-right:10px;
    }
    .hero-head {
        font-size:1.5em;
    }
}