#content {
    width:100%;
    max-width:900px;
    margin:0 auto;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Helvetica", sans-serif;
    font-style: bold;
}
#byline {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    font-style: italic;
}
img {width:100%;
    max-width:900px;
    margin:0 auto;

}
p {
    font-family: "Georgia", serif;
    font-size: 13px;
}
#photo { 
    width: 100%
}
h3 {
    font-family: "Georgia", serif;
    font-size: 10px;
}
h4 {font-family:"Georgia", serif;
    font-size: 9px;
    font-style: italic;
}
blockquote { 
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    font-style: bold;
    align-content: center;
    color:brown; 
}
h6 {
    font-family: "Georgia", serif;
    font-size: 15px;
    font-style: bold;
}
a {
    font-family: "Georgia", serif;
    font-size: 15px;
    font-style: bold;
    color:brown;
}