/*"styles for my resume"*/
#header {
    width:100%;
    max-width:900px;
    margin: 0 auto;
    align-items: center;
}
img {width:100%;
    max-width:900px;
    margin:0 auto;
}
BODY {
    color: #444;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 50px;
   text-align: center;
}
#title {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
    color: black;
    font-weight: 600px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
}
#detail {
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
    background-color: #B3DDE3; 
}
.bi {
    font-weight: bold;
    size: 900px;
    color: #84BDC6 
}
/*section titles*/
.sectionheader {
    font-size: 2em;
    font-family:'Trebuchet MS', 'Lucida Grande', sans-serif;
    text-transform: uppercase;
    color: black;
    background-color: #B3DDE3; 
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
/*job titles*/
.jobtitle {
    font-weight: 600; 
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;

}
/*job orgs*/
.organization {
    font-weight: 400;
    font-size: 1.25em;
   
    
}
/*job dates*/
.date {
    font-weight: 400;
    font-size: 1em;
    font-style: italic; 
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
/*skills and education*/
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
}
#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
}
.bolded {
    font-weight: bold;
}
.link {
    font-weight: bold;
    color:  #B3DDE3; 
}
.col-md-3 {
    color: #B3DDE3; 
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
    font-size: 1em;
}
@media screen and (max-width: 480px) {
    /*Add CSS that only activates on screens less than 480x here*/
    
  }